.map {
    width: 100%;
    height: 100%;
  }
  .leaflet-control-attribution {
    display: none; /* Hides the attribution control */
  }
  .map-container {
    height: 400px; /* Set a fixed height for the map */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }
  
  .leaflet-container {
    filter: brightness(0.95); /* Slightly darken the map for aesthetics */
  }
  